<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="client.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="parent">
        <div class="header">
             <h1>crepes</h1>
        </div>
	    
		<a href="#" class="obj satu">
		    <p>How To Make</p>
        </a>	
		<a href="#" class="obj dua">
		    <p>Efek baik dan buruk</p>
        </a>
		<a href="#" class="obj tiga">
		    <p>Perbandingan Kolori</p>
        </a>
<!--
        
        <a href="#" class="obj empat">
            <p>cara makan "creps" yang benar</p>
        </a>
        
        <a href="#" class="obj lima">
            <p>ulasan kue</p>
        </a>
        
        <a href="#" class="obj enam">
            <p>Where to find in indonesia</p>
        </a>
        
        <a href="" class="obj tujuh">
            <p></p>
        </a>
-->
        
        <div class="footer">
            copyright @2016
        </div>
	</div>
</body>
</html>